@import '~antd/dist/antd.css';
.logo {
  width: 130px;
  height: 31px;

  margin: 0px 24px 16px 0;
  float: left;
  text-align: center;
  font-size: 21px;
  color: white;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.picc{
  width:1770px;
}

.cardd{
  background-color: #f0f2f5;
  position: relative;
  top: 15px;
}
.bcardd{
  margin-bottom: 40px;
}
.tuijian{
  margin-top: 40px;
}
.cardd_me{
  float:left;
  font-size: 25px;
  background-color: white;
  width:430px;
  height:150px;
}
.showww{
  margin-top:45px;

}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #171733;
  overflow: hidden;
}

.ant-carousel .slick-slide h1 {
  color: #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
